/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face 
{
	font-family: 'Montserrat';
	src: asset-url('Montserrat/MontserratAlternates-Medium.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Black.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-BlackItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Bold.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-BoldItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraBold.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraBoldItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraLight.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraLightItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Italic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Light.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-LightItalic.otf') format('truetype');
}

body
{
	margin: 0px;
	font-family: "Montserrat";
}

a
{
	text-decoration: none;
}