/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face 
{
	font-family: 'Montserrat';
	src: asset-url('Montserrat/MontserratAlternates-Medium.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Black.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-BlackItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Bold.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-BoldItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraBold.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraBoldItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraLight.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-ExtraLightItalic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Italic.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-Light.otf') format('truetype');
	src: asset-url('Montserrat/MontserratAlternates-LightItalic.otf') format('truetype');
}

body
{
	margin: 0px;
	font-family: "Montserrat";
}

.header
{
	background-color: #70B756;
	color: white;
	padding: 20px 0px;
	font-family: "Montserrat";
	ul
	{
		padding: 20px;
		display: inline;
		
		li
		{
			padding: 0px 20px;
			display: inline;
			&:hover
			{
				font-weight: bold;
				cursor: pointer;
			}
			img
			{
				vertical-align: middle;
				max-width: 30px;
			}
		}
		.active
		{
			a
			{
				color: greenyellow;
			}
		}
		.user-avatar
		{
			float: right;
		}		
	}	
	a
	{
		color: white;
		font-family: inherit;
		text-decoration: none;
	}
	.menu-collapse
	{
		display: none;
		text-align: center;
		cursor: pointer;
		img
		{
			width: 75px;
		}
	}
	.mobile-list
	{
		display: none;
		padding: 0px 10px;
		margin: 0px 10px;
		li
		{
			padding: 5px 0px;
			text-align: center;
			display: block;
		}
	}
}

.sub-header
{
	font-size: 2em;
	text-transform: uppercase;
	padding: 40px;
	margin: 0% 35%;
	text-align: center;
	background-color: lightgrey;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.footer
{	
	background-color: white;
	color: black;
	margin-top: -5px;
	text-align: center;
	min-height: 50px;
	padding: 30px;
	text-transform: uppercase;
	font-family: "Montserrat";
	.users-link-area
	{
		display: inline;
	    position: absolute;
	    right: 2%;
	}
	.text
	{
		display: inline;
	}
}

@media(max-width: 640px)
{
    .menu-collapse
    {
        display: block !important;
    }
    .desktop-list
    {
    	display: none !important;
    }
}