/* PRODUCT#INDEX */

input:focus,
select:focus,
textarea:focus,
button:focus 
{
    outline: none;
}

.filter
{
	text-align: center;
	.search-bar
	{
		margin: 2% 30%;
		padding: 15px;
		background-color: lightgrey;
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
		input
		{
			color: grey;
			text-align: center;
			border: solid 1px lightgrey;
			font-family: "Montserrat";
			width:98%;
			font-size: 30px;
			border-bottom-right-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;
		}
	}
}

.products
{
	padding: 40px;
	text-align: center;
	.product
	{
		text-align: left;
		display: inline-block;
		width: 40%;
		margin: 20px;
		padding: 20px;
		border-radius: 20px;
		cursor: pointer;
		text-decoration: none !important;
		&:hover
		{
			background-color: lightgrey;
		}
		.product-image
		{
			display: inline-flex;
			border: solid 2px black;
		}
		.product-name
		{
			color: black;
			padding-left: 20px;
			display: inline-block;
			font-size: 3em;
		}
	}
}

.options
{
	position: relative;
	float: right;
	padding: 0px 5%;
}

/* PRODUCT#SHOW */

.container
{
	vertical-align: middle;
	padding: 50px 30px;
	.left
	{
		display: inline-block;
		width: 40%;
		img
		{
			width: 15em;
			height: 15em;
		}
	}
	.right
	{
		display: inline-block;
		width: 40%;
	}
}


/* PRODUCT#NEW */

.create-product-form
{
	text-align: center;
	.field
	{
		padding: 20px;
	}
}