<div class="search-bar">
	<input class=""></input>
</div>

<div class="products">
	<% @products.each do |product| %>
		
		<div class="product">
			<div class="product-image">
				<%= image_tag(product.image_url, size: '100x125') %>
			</div>
			<div class="product-name">
				<%= product.name %>
			</div>
		</div>

	<% end %>
</div>